
<div id="main_panel" style="height: 100%" class="panel-menu-messege text-white text-center col-md-offset-2 animated fadeIpassword">
<p></p>
<img src="<%= @logo.avatar.url %>">
  <h2> Bienvenido </h2>
  <h4 class="well-lg text-space"><%= @messege.messege  %></h4>
<div>
    <a href="<%= @facebook_link.link %>" target="_blank"><span class="fa fa-facebook-square" style="font-size:36px"></span></a>
    <a href="<%= @instagram_link.link %>" target="_blank"><span class="fa fa-instagram" style="font-size:36px"></span></a>
</div>
</div>


<script>
    function isMobile() {
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            $("#main_panel").css("margin-left", "30%");
            $("#main_panel").width(350);
        }
    }
    $(document).ready(function () {
       isMobile();
    });
</script>